* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}
.container {
    height: 550px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #000000;
    padding: 20px;
    gap: 10px;
    background-color: #111720;
}

.result-clear {
    display: flex;
    gap: 20px;
    padding: 15px;
}

#result {
    width: 250px;
    height: 50px;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(136, 135, 148);
}

.result-clear input[type="button"] {
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    background-color: orange;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    gap: 10px;
    padding: 20px;
}

input[type="button"] {
    flex: 1;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(187, 186, 192);
}
